@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter');

/* ul {
    list-style-type: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 200px;
    font-size: 14pt;
} */

li {
    display: inline;
}

h1 {
    color: powderblue;
    font-family: "Permanent Marker";
    font-size: 50%;
}

p {
    font-family: "Architects Daughter";
    
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid powderblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: powderblue;
    color: white;
}
