@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter');

ul {
    list-style-type: none;
    font-size: 14pt;
}

li {
    display: inline-block;
}

h1 {
    color: powderblue;
    font-family: "Permanent Marker";
}

p {
    font-family: "Architects Daughter";
    font-size: 12pt;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid powderblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Permanent Marker";
}

a:hover, a:active {
    background-color: powderblue;
    color: white;
    font-family: "Permanent Marker";
}
